/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Đã xóa code Font thủ công vì đã import qua thư viện NPM trong main.js */

body { 
  font-family: 'Nunito', sans-serif;
  background-color: #f4f7fc;
}

/* FIX FONT INPUT TIME (BẮT BUỘC) */
input[type="time"] {
    font-family: 'Nunito', sans-serif !important;
}

/* Ẩn scrollbar */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }