/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body { 
  font-family: 'Nunito', sans-serif;
  background-color: #f4f7fc;
}

/* FIX FONT INPUT TIME (BẮT BUỘC) */
input[type="time"] {
    font-family: 'Nunito', sans-serif !important;
}

/* Ẩn scrollbar */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }